on: push
name: codebehind push deploy
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ftp.codebehind.org
        username: codebehindorg_git
        password: ${{ secrets.password }}
        dry-run: true
        exclude: |
          **/.git*
          **/.git*/**
          **/node_modules/**
          README.md
          LICENSE
          
